@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

:root {
  --color-background: #333;
  --color-dark: #0500f5;
  --color-light: #76f3fd;
  --color-highlight: honeydew;
  --color-list-header: #ecb390;
  --max-content-width: 800px;
  --min-content-width: 375px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px hotpink solid; */
  font-family:Arial, Helvetica, sans-serif
}

body {
  background: var(--color-background);
  height: 100vh;
}

.App {
  background: var(--color-light);
  width: clamp(var(--min-content-width), 100%, var(--max-content-width));
  margin: auto;
  position: relative;
  min-height: calc(100vh - 1rem);
  border-radius: 5px;
}

main {
  margin: 1rem;
}

h2 {
  margin: 1rem 0 0.5rem 0;
}

h3 {
  margin: 0.5rem 0;
}

.link-no-underline {
  text-decoration: none;
}